<li class="todo-app__item">
  <!-- <label class="todo-app__item-pin">
    <input
      type="checkbox"
      class="pin-checkbox"
    >
    <span class="todo-app__item-pin-icon">
      <i className="fas fa-thumbtack"></i>
    </span>
  </label> -->

  <!-- <label className="todo-app__item-checkbox">
    <input
      className="checkbox"
      type="checkbox"
    />
    <span></span>
  </label> -->

  @if (isEdit()) {
    <input
      #editor
      class="todo-app__item-editor"
      [value]="todo()?.name"
      (blur)="onEditorBlur()"
      (change)="changeTodo($event)"
      (keyup)="onKeyUp($event)"
    >
  } @else {
    <label
      class="todo-app__item-name"
      (dblclick)="editTodo(true)"
    >
      {{ todo()?.name }}
    </label>
  }

  <button
    class="todo-app__remove-btn"
    type="button"
    (click)="removeTodo()"
  >
  </button>
</li>