<div class="todo-app">
  <div class="todo-app__header">
    <input class="todo-app__header-input" type="text" placeholder="New ToDo" [(ngModel)]="todo"
      (keyup)="onKeyUp($event)">
    <button class="todo-app__header-btn btn" type="button" (click)="addTodo()">
      Add
    </button>
  </div>

  <div class="todo-app__main">
    <todo-list [todos]="filteredTodos()" (onSetTodos)="setTodos($event)" />
  </div>

  <div class="todo-app__footer">
    <div class="todo-app__counter">
      {{filteredSentence()}}
    </div>

    <ul class="todo-app__filters">
      @for (filter of filters(); track filter.label) {
      <li class="todo-app__filters-item" (click)="filter.click()">
        <a href="#!" [class.selected]="filter.active">
          {{filter.label}}
        </a>
      </li>
      }
    </ul>

    <button class="btn todo-app__clear-btn" type="button">
      Clear completed
    </button>
  </div>
</div>