<div class="todo-app">
  <div class="todo-app__header">
    <input
      class="todo-app__header-input"
      type="text"
      placeholder="New ToDo"
    >
    <button
      class="todo-app__header-btn btn"
      type="button"
    >
      Add
    </button>
  </div>

  <div class="todo-app__main">
    <!-- LIST -->
  </div>

  <!-- <div class="todo-app__footer">
    <div class="todo-app__counter"></div>

    <ul className="todo-app__filters">
      <li
        className="todo-app__filters-item"
      >
        <a
          href="#!"
        >
          All
        </a>
      </li>
      <li
        className="todo-app__filters-item"
      >
        <a
          href="#!"
        >
          Active
        </a>
      </li>
      <li
        className="todo-app__filters-item"
      >
        <a
          href="#!"
        >
          Completed
        </a>
      </li>
    </ul>
    
    <button
      className="btn todo-app__clear-btn"
      type="button"
    >
      Clear completed
    </button>
  </div> -->
</div>
